<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>3Dpal - <%= title %></title>
<meta name="description" content="Collaborative 3D Suite">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- Still neede? <link rel="stylesheet" href="css/normalize.css">-->
<!-- Still neede? <link rel="stylesheet" type="text/css" href="css/main.css"/>-->
<!-- Still neede? <link rel="stylesheet" type="text/css" href="css/screen.css"/>-->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/social-buttons-3.css"/>
<link rel="stylesheet" type="text/css" href="css/user.css"/>
<!-- Still needed?<script src="script/lib/modernizr-2.6.2.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Still needed? <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>-->
<script>var username = "<%=username%>";var userId = "<%=userId%>"</script>
<script src="script/lib/general.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">
                        Toggle navigation </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        </button>
                        <a class="navbar-brand" href="index">
                        3Dpal</a>
                </div>
                <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
<% 
var mainActive ="";
var galleryActive="";
var mymodelActive="";
var profileActive="";
var helpActive ="";
var loginActive  ="";
switch (title) {
    case "Main":
		 mainActive = 'active';  break;
    case "Gallery":
        galleryActive = 'active'; break;
	case "My Models":
        mymodelActive = 'active'; break;
    case "Profile":
        profileActive = 'active';  break;
    case "Help":
        helpActive = 'active';  break;
	case "Login":
		loginActive = 'active'; break;
};

 %>								
                                <li class="<%= mainActive %>">
                                <a href="index">
                                Main </a>
                                </li>
                                <li class="<%= galleryActive %>">
                                <a href="gallery">
                                Gallery </a>
                                </li>
                                <li class="<%= mymodelActive %>">
                                <a href="mymodels" >
                                My Models </a>
                                </li>
                                <li class="<%= profileActive %>">
                                <a href="profile">
                                Profile </a>
                                </li>
                                <li class="<%= helpActive %>">
                                <a href="help">
                                Help </a>
                                </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
							<% if (username != null && username != "" ) { %>						
                                <li>
                                <a href="profile">Hello <%= username %></a>
                                </li>
                                <li>
                                <a href="logout">
                                Log Out </a>
                                </li>
							<% } else { %>
							<li class="<%= loginActive %>">
                                <a href="login">
                                Log In</a>
                                </li>
							<% } %>
                        </ul>
                </div>
                <!--/.navbar-collapse -->
        </div>
</div>
<div class="container">
        <h2><%= title %></h2>
        <%- body %>
</div>
<div class="container">
        <div id="footer">
                <p>
                        <footer>
                        &copy; Johannes Baldinger ( <a href="http://github.com/johannes-baldinger" title="Johannes Baldinger's Github Account">
                        git:johannes-baldinger </a>
                        ) & Benjamin Bill Planche ( <a href="http://github.com/Aldream" title="Benjamin Bill Planche's Github Account">
                        git:Aldream </a>
                        ) </footer>
                </p>
        </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
        (function(b,o,i,l,e,r){
          b.GoogleAnalyticsObject=l;
          b[l]||(b[l]=
                 function(){
                   (b[l].q=b[l].q||[]).push(arguments)}
                );
          b[l].l=+new Date;
          e=o.createElement(i);
          r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}
         (window,document,'script','ga'));
        ga('create','UA-XXXXX-X');
        ga('send','pageview');
      </script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="script/lib/bootstrap.min.js">
      </script>
</body>
</html>
